@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #73071B;
    --cor02: #BF1120;
    --cor03: #D92344;
    --cor04: #8C7961;
    --cor05: #181D26;
}

body {
    width: 100%;
    height: 100vh;
}
header {
    padding: 20px;
    background-color: var(--cor05);
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 1.7em;
    text-align: center;
    text-transform: capitalize;
    color: var(--cor04);
    user-select: none;
}

main {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
}

main h2{
    padding: 18px 0;
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 1.9em;
    color: var(--cor02);
}

main h3 {
    padding: 18px 0;
    font-size: 1.4em;
}

main p {
    margin-bottom: 15px;
}

.apresentacao, .poesia, .love-play-list, .declaracao {
    padding: 15px;
}

section.poesia {
    background: var(--cor05) url(../images/fundo1.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.658);
}

section.poesia p {
    width: 60%;
    padding: 6px;
    background-color: #0000008f;
    color: #fff;
}

section.love-play-list {
    display: flex;
    flex-direction: column;
}

.btnplay {
    align-self: center;
    width: 320px;
    padding: 15px;
    background-color: var(--cor03);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
}

section.box-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: var(--cor05);
    box-shadow: inset 0 0 18px #040507b2;
}

.heart {
    width: 150px;
    height: 150px;
    background-color: var(--cor02);
    box-shadow: -12px 12px 110px var(--cor02);
    transform: rotate(-45deg);
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }

    80% {
        transform: rotate(-45deg) scale(1.0);
    }

    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before, .heart::after{
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background-color: var(--cor02);
    box-shadow: -12px -12px 110px var(--cor02);
    border-radius: 50%;
    top: -50%;
}

.heart::after {
    right: -50%;
    top: 0;
    box-shadow: 18px 18px 140px var(--cor02);
}

section.res {
    padding: 15px;
    text-align: center;
    transition:  ease 1s;
}

section.res p {
    font-size: 1.4em;
    font-weight: 600;
}

section.presente {
    display: none;
    position: relative;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: var(--cor05);
   
}

section.presente div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 350px;
    height: 350px;
    background-color: lightgray;
    border-radius: 50%;
    border: 1px solid var(--cor02);
    box-shadow: 0px 0px 30px 8px var(--cor03);
    overflow: hidden;
    
}

section.presente div > img {
    width: 100%;
    user-select: none;
}

section.presente p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family: "Love Ya Like A Sister", cursive; 
    font-size: 1.8em;
    font-weight: 500;
    color: var(--cor04);
    text-align: center;
    text-transform: capitalize;
}

div.opcoes {
    display: flex;
    width: 100%;
    margin: 30px 0;
    justify-content: space-around;
}

div.opcoes button.btn_opc {
    width: 110px;
    padding: 7px;
    background-color: var(--cor03);
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

footer {
    padding: 25px;
    background-color: var(--cor05);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #fff;
}

/*Telas pequenas*/

@media screen and (max-width: 360px) {
    .btnplay {
        width: 220px;
    }

    section.presente div {
        width: 250px;
        height: 250px;
    }

    section.presente p {
        font-size: 1.2em;
    }
}